<!DOCTYPE html>
<html>
<head>
  <title>SPInfoLtd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h2>Title::=> SPInfo Ltd : <%= yield(:title)%></h2>
<%= yield %>

</body>
</html>
