<!DOCTYPE html>
<html>
<head>
  <title>SPInfoLtd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src ="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<h2>Title::=> SPInfo Ltd : <%= yield(:title)%></h2>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "Sign In", '#'%></li>
      </ul>
    </nav>
  </div>
</header>
<div class ="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<div class="container"> 
  <%= yeild %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"") , 'http://rubyonrails.org/' %>
</body>
</html>
